Report/OLD/
Report/thesis2016/chapter1/figs/
Report/thesis2016/chapter2/figs/
Report/thesis2016/chapter2/references/
Report/thesis2016/chapter3/figs/
Report/thesis2016/chapter4/figs/
Report/thesis2016/chapter5/figs/
Report/thesis2016/fig_repository/bioinfo/
Report/thesis2016/fig_repository/fimo.zip
Report/thesis2016/fig_repository/gusmao/
Report/thesis2016/fig_repository/nature/Figure1.eps
Report/thesis2016/fig_repository/nature/Figure1.jpeg
Report/thesis2016/fig_repository/nature/Figure1.pdf
Report/thesis2016/fig_repository/nature/Figure1.svg
Report/thesis2016/fig_repository/nature/Figure2.eps
Report/thesis2016/fig_repository/nature/Figure2.jpeg
Report/thesis2016/fig_repository/nature/Figure2.pdf
Report/thesis2016/fig_repository/nature/Figure2.svg
Report/thesis2016/fig_repository/nature/Figure3.eps
Report/thesis2016/fig_repository/nature/Figure3.jpeg
Report/thesis2016/fig_repository/nature/Figure3.pdf
Report/thesis2016/fig_repository/nature/Figure3.svg
Report/thesis2016/fig_repository/nature/Figure4.eps
Report/thesis2016/fig_repository/nature/Figure4.jpeg
Report/thesis2016/fig_repository/nature/Figure4.pdf
Report/thesis2016/fig_repository/nature/Figure4.svg
Report/thesis2016/fig_repository/nature/Figure5.eps
Report/thesis2016/fig_repository/nature/Figure5.jpeg
Report/thesis2016/fig_repository/nature/Figure5.pdf
Report/thesis2016/fig_repository/nature/Figure5.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_1.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_1.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_1.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_1.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_10.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_10.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_10.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_10.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_11.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_11.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_11.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_11.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_2.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_2.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_2.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_2.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_3.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_3.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_3.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_3.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_4.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_4.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_4.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_4.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_5.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_5.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_5.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_5.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_6.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_6.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_6.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_6.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_7.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_7.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_7.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_7.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_8.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_8.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_8.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_8.svg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_9.eps
Report/thesis2016/fig_repository/nature/Supplementary_Figure_9.jpeg
Report/thesis2016/fig_repository/nature/Supplementary_Figure_9.pdf
Report/thesis2016/fig_repository/nature/Supplementary_Figure_9.svg
Report/thesis2016/fig_repository/nature/old/AUC_Boxplot.pdf
Report/thesis2016/fig_repository/nature/old/AUC_Boxplot_NakedTest.pdf
Report/thesis2016/fig_repository/nature/old/BC_0458_PWM_H7hesc.pdf
Report/thesis2016/fig_repository/nature/old/BC_0500_PWM_H7hesc.pdf
Report/thesis2016/fig_repository/nature/old/BC_AR_R1881_PWM_LnCaP.pdf
Report/thesis2016/fig_repository/nature/old/BC_ATF3_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BC_EGR1_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BC_ER_160min_PWM_Mcf7.pdf
Report/thesis2016/fig_repository/nature/old/BC_ER_40min_PWM_Mcf7.pdf
Report/thesis2016/fig_repository/nature/old/BC_GR_withDEX_PWM_m3134.pdf
Report/thesis2016/fig_repository/nature/old/BC_NRF1_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BC_P53_PWM_Saos2-K562.pdf
Report/thesis2016/fig_repository/nature/old/BC_RAD21_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BC_SP1_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BC_SP4_PWM_H1hESC.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_AllCells.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_AllMethods.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_H1hesc_DU.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_HeReplication.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_K562_DU.pdf
Report/thesis2016/fig_repository/nature/old/BiasCorr_K562_UW.pdf
Report/thesis2016/fig_repository/nature/old/BiasFigure.pdf
Report/thesis2016/fig_repository/nature/old/Box_AUC_AUPR.pdf
Report/thesis2016/fig_repository/nature/old/Box_AUC_AUPR.svg
Report/thesis2016/fig_repository/nature/old/CgBiasCorr.pdf
Report/thesis2016/fig_repository/nature/old/FLR_Exp_Methods/
Report/thesis2016/fig_repository/nature/old/FLR_Exp_Metrics/
Report/thesis2016/fig_repository/nature/old/HINT_Comparison_Scatterplot.pdf
Report/thesis2016/fig_repository/nature/old/H_GABP.pdf
Report/thesis2016/fig_repository/nature/old/H_JUN.pdf
Report/thesis2016/fig_repository/nature/old/H_SIX5.pdf
Report/thesis2016/fig_repository/nature/old/H_YY1.pdf
Report/thesis2016/fig_repository/nature/old/K_GABP.pdf
Report/thesis2016/fig_repository/nature/old/K_JUN.pdf
Report/thesis2016/fig_repository/nature/old/K_SIX5.pdf
Report/thesis2016/fig_repository/nature/old/K_YY1.pdf
Report/thesis2016/fig_repository/nature/old/Kmer_correlation_pearson.pdf
Report/thesis2016/fig_repository/nature/old/Kmer_correlation_spearman.pdf
Report/thesis2016/fig_repository/nature/old/Methods_vs_TC.svg
Report/thesis2016/fig_repository/nature/old/N_AR_R1881.pdf
Report/thesis2016/fig_repository/nature/old/N_ER_160min.pdf
Report/thesis2016/fig_repository/nature/old/N_GR_withDEX.pdf
Report/thesis2016/fig_repository/nature/old/RankTest.eps
Report/thesis2016/fig_repository/nature/old/RankTest.pdf
Report/thesis2016/fig_repository/nature/old/RankTest.svg
Report/thesis2016/fig_repository/nature/old/hintbc_auc_prot.pdf
Report/thesis2016/fig_repository/nature/old/hintbc_tc_auc_prot.pdf
Report/thesis2016/fig_repository/nature/old/pwmcg.pdf
Report/thesis2016/fig_repository/profile.zip
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_BadPredSample.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_BadPredSample_v2.eps
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_CtcfJ1.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_CtcfJ1Clust.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_GabpJ1.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_GabpJ1Clust.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_GoodPredSample.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_Mef2aJ1.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_Mef2aJ1Clust.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal1.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal1_1.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal1_2.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal2.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal2_1.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_ModelSignal2_2.pdf
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_PwmLess.svg
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_PwmTfbsActiv.svg
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_PwmTfbsFootActiv.svg
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_PwmTop.svg
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_RestJ1.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_RestJ1Clust.png
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_TfbsLess.svg
Report/thesis2016/fig_repository/raw/gusmao/gusmao_1_TfbsTop.svg
Report/thesis2016/fig_repository/raw/kundaje.pdf
Report/thesis2016/fig_repository/raw/lodish/
Report/thesis2016/fig_repository/raw/maston/
Report/thesis2016/fig_repository/raw/park_3_chip.pdf
Report/thesis2016/fig_repository/raw/park_3_chip.svg
Report/thesis2016/fig_repository/thesis/
Results/ATAC/
Results/ExpressionValidation/Validation/AR.txt
Results/HMM/InputRegions/DU_GM12878/
Results/HMM/InputRegions/DU_H1hesc/
Results/HMM/InputRegions/DU_H7hesc/
Results/HMM/InputRegions/DU_HeLaS3/
Results/HMM/InputRegions/DU_Huvec/
Results/HMM/InputRegions/DU_K562/
Results/ParameterTests/
Results/SignalProcessing/
Results/StatisticalTests/expression_please_dont_move_folders/