# smith.onnx.verification

```{eval-rst}
.. automodule:: smith.onnx.verification
```

```{eval-rst}
.. autofunction:: verify_onnx_program
```

```{eval-rst}
.. autoclass:: VerificationInfo
    :members:
```
